$default: #409bcf;
$success: #42b883;
$primary: #42b8b2;
$info: #1d8cf8;
$danger: #fd5d93;
$warning: #ff8a76;
$teal: #00d6b4;
$background: #27293d;

$complemento1: #4c84c7;
$complemento2: #40c5cf;
$complemento3: #42b883;
$complemento4: #40cf45;
$complemento5: #96c74b;
